header, nav, main, footer {
        max-width: 75rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main {
        div.news {
            clear: both;
            column-count: 4;

            h3 {break-before: column;}
        }//end of news
    }//end of main


/*----------- FOOTER --------------*/
    
