header, nav, main, footer {
        max-width: 75rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header {
    display: grid;
    grid-template-columns: auto auto;

    /*start of nav*/
    nav {
        justify-self: end;
        margin: 0;

        button {display: none;}
        
        ul, ul.open {
            position: relative;
            display: flex;
            background-color: transparent;
            width: auto;
        }
        ul li {
            border-bottom: none;
        }
        ul li a {
            padding: 1rem;
        }

    }//end of nav

}//end of header


/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main {
        div.news {
            clear: both;
            column-count: 4;

            h3 {break-before: column;}
        }//end of news
    }//end of main


/*----------- FOOTER --------------*/
    
