


/*----------- BODY --------------*/



/*----------- HEADER --------------*/


header {
    /*start of nav*/
    nav {
        ul {
            width: 200px;
        }
        
        ul li a{
            padding: .5rem 1rem;
        }

    }// end of nav

}//end of header

/*----------- MAIN --------------*/

main {
    div.news {
        clear: both;
        column-count: 2;
        }
}//end of main


/*----------- FOOTER --------------*/
    
