/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: $bodyFont;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: $primaryColor;
    

    h1 {
        margin: 0;
        font-family: $bandFont;
        font-size: 3.5rem;
        color: $hftColor;
    }
    h2 {
        margin: 0; 
        font-size: 1.5rem;
        font-weight: $regularWeight;
        color: $hftColor;
        }

}//end of header

/*----------- NAVIGATION --------------*/
nav {
    background-color: $navColor;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        }
    ul li {
        float: left;
        width: 25%;
        }
    ul li a {
        display: block;
        background-color: darken($navColor, 10%);
        color: #eee;
        border-left: 1px solid lighten($navColor, 2%);
        padding: .5rem 0;
        text-decoration: none;
        font-size: .9rem;
        text-align: center;
        }
    ul li:first-child a {border-left: none;}

    ul li a:hover {
        background-color: lighten($navColor, 20%);
        }
    ul li.active a {
        background-color: darken($navColor, 25%);
        color: #eee;
        }
}//end of nav

/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    // min-height: 10rem;
    h2 {
        font-size: 2rem;
        font-weight: $heavyWeight;
        margin: 2% 0 0 0;
    }

    h3{
        font-size: 1.5rem;
    }
    img {
        width: 100%;
    }
    figure.shape1 {
        float:right;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        margin: .5rem;
    }

    figure.shape2 {
        float:right;
        shape-outside: polygon(50% 100%, 0 0, 100% 0);
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        margin: .5rem;
    }

    figure.shape3 {
        float:right;
        shape-outside: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        margin: .5rem;
    }

    figure.shape4 {
        float:right;
        shape-outside: circle(100% at 100% 0%);
        clip-path: circle(100% at 100% 0%);
        margin: .5rem;
    }

div.gallery figure {
    width: 100%;
    height: 0;
    padding-bottom: 60%; // you define this doing image height / width * 100%
    position: relative;
    margin: 0;
}
div.gallery figure img {
    width: 100%;
    height: auto;
    position: absolute;
}

p {
    line-height: 1.5rem;
}

}//end of main


/*----------- FOOTER --------------*/
footer {
    background-color: $primaryColor;
    padding: .5rem 2%;
    text-align: center;
    color: $hftColor;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}