$bandFont: 'Cinzel Decorative', cursive;
$bodyFont: 'Raleway', sans-serif;

$regularWeight: 400;
$heavyWeight: 600;


$gutter: 2vw;

$primaryColor: #122426;
$hftColor: #fff; //header and footer text color

$navColor: #8C3A58;

