


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li:first-child a {border-left: 1px solid #ffe0d4;}
    nav ul li:last-child a {border-right: 1px solid #ffe0d4;}
    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/
main div.produceGallery figure {flex-basis: 29%;}


/*----------- FOOTER --------------*/
    
