


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    nav {
       ul {
        display: flex;
        justify-content: right;   
        margin-left: 2%;
        }

        ul li {width: auto;}
        ul li:first-child a {border-left: 1px solid #ffe0d4;}
        ul li:last-child a {border-right: 1px solid #ffe0d4;}
        ul li a{padding: .5rem 1rem;}
    }


/*----------- MAIN --------------*/
main div.produceGallery figure {flex-basis: 29%;}


/*----------- FOOTER --------------*/
    
