/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }




/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header {
    display: grid;
    grid-template-columns: 100px auto auto;


    h1#phone {
        display: block;
        justify-self: end;
    }

    h1 {font-size: 2rem;}
} // end of header


/*----------- NAVIGATION --------------*/
    nav {

        button {display: none;}

       ul, ul.open {
            position: relative;
            display: flex;
            background-color: transparent;
            width: auto;
            justify-content: flex-end;
        }
        
        ul li a{padding: .5rem 1rem;}

}// end of nav



/*----------- MAIN --------------*/

main {
    /*----- COLUMNS -----*/

    @for $i from 1 through 12 {
        $w:($i / 12) * 100%;
        .medium-#{$i} {flex-basis: $w;}
    } //end of loop

}//end of main




/*----------- FOOTER --------------*/
    
