


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    nav {
        ul {margin-left: 2%;}
        
        ul li {width: auto;}
        
        ul li:first-child a {border-left: 1px solid lighten($navColor, 20%);}
        
        ul li:last-child a {border-right: 1px solid lighten($navColor, 20%);}
        
        ul li a{padding: .5rem 1rem;}

}// end of nav
/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
