/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: $bodyFont;
}


/*----------- HEADER --------------*/
#headerWraper {
    background-color: $primaryColor;
    border-top: 10px solid #9E9E9F;
}

header {
    font-family: $headerFont;
    color: $bodyColor;
    font-weight: $regularWeight;
    display: flex;
    align-items: center;
    padding: $gutter;

    figure.logo {margin: 0;}

    figure.logo img{
        width: 100px;
        padding-top: $gutter;
    }

    h1 {
        font-size: 1.4rem;
        padding-left: .5rem;
    }

    h1#phone {display: none;}

}//end of header

/*----------- NAVIGATION --------------*/
nav {
    background-color: $navColor;
    margin-bottom: 2rem;

    #buttonWraper {text-align: right;}
    button {
        background: transparent;
        border: none;
        font-size: 1.5rem;
        color: $bodyColor;
        padding: .5rem $gutter;
    }

        button span:nth-child(1) {display: block;}
        button span:nth-child(2) {display: none;}
        button.open span:nth-child(1) {display: none;}
        button.open span:nth-child(2) {display: block;}

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: none;
        }
    ul.open {display: block;}


    ul li a {
        display: block;
        color: $bodyColor;
        padding: .5rem $gutter;
        text-decoration: none;
        font-size: 1.5rem;
        text-align: center;
        }

    ul li a:hover {
        color: $accent1Color;
        }
    ul li.active a {
        background-color: $accent1Color;
        color: $bodyColor;
        }
}//end of nav



/*----------- MAIN --------------*/
main {

    /*----- COLUMNS -----*/
    div.flexed { 
        display: flex; 
        flex-wrap: wrap;
        margin-bottom: 2rem; 
    }

    .column {padding: 0 1vw;}
    @for $i from 1 through 12 {
        $w:($i / 12) * 100%;
        .small-#{$i} {flex-basis: $w;}
        } //end of loop

    /*----- LAWYER CARDS -----*/
    .lawyerCard {
        background-color: lighten($navColor, 5%);
        margin-top: .5rem;
        display: block;
        text-align: center;
        box-shadow: 2px 2px 5px darken($navColor, 10%);
        padding: .5rem 0;
    }

    .lawyerCard section { 
        padding-bottom: .5rem;
        font-weight: $regularWeight;
        font-size: 1rem;
    }

    .lawyerCard figure {display: contents;}

    .lawyerCard img {
        width: 100%;
    }

    .lawyerCard .learnMore {
        background-color: $accent3Color;
        padding: .5rem;
        margin: .5rem 1rem;
        border-radius: 10px;
    }

    .lawyerCard .learnMore a {
        color: #eee;
        text-decoration: none;
        font-size: 1rem;
    }

    .lawyerCard .learnMore:hover {background-color: $accent1Color;}


    /*----- CALL TO ACTION BUTTONS -----*/
    .ctaWraper {
        background-color: $accent3Color;
        box-shadow: 2px 2px 5px darken($navColor, 10%);
        margin-bottom: 0.5rem;

    }

    .ctaFlexed {
        justify-content: center;
    }

    .cta {
        text-align: center;
        padding: 1rem 1vw;
    }

     .ctaWraper .cta a {
        color: #eee;
        text-decoration: none;
        font-size: 1.5rem;
        }

    .ctaWraper .cta:hover {background-color: $accent1Color;}

    /*----- BLOG POSTS -----*/
    .blogPost {
        background-color: $navColor;
        margin-top: .5rem;
        display: block;
        text-align: left;
        box-shadow: 2px 2px 5px darken($navColor, 10%);
    }
    
    .blogPost figure {display: contents;}
    .blogPost img {
        width: 100%;
    }
    
    .blogPost section { 
        padding: .5rem 0 0 .5rem;
        font-weight: $regularWeight;
        font-size: 1.3rem;
    }

    .blogPost p { 
        padding: 0 .5rem;
        font-weight: $regularWeight;   
    }

    .blogPost .readMore {
        background-color: $primaryColor;
        padding: .5rem;
        text-align: center;
    }
    
    .blogPost .readMore a {
        color: $bodyColor;
        text-decoration: none;
    }
    
    .blogPost .readMore:hover {background-color: $accent1Color;}

    /*----- BOTTOM CARDS -----*/

    .tipOfTheDay, .faq {
        background-color: $navColor;
        margin-top: .5rem;
        display: block;
        text-align: left;
        box-shadow: 2px 2px 5px darken($navColor, 10%);
    }
    
    .tipOfTheDay section, .faq section { 
        padding: .5rem 0 0 .5rem;
        font-weight: $regularWeight;
        font-size: 1.3rem;
    }

    .tipOfTheDay p, .faq p { 
        padding: 0 .5rem;
        font-weight: $regularWeight;   
    }

    .tipOfTheDay .readMore, .faq .readMore {
        padding: .5rem;
        text-align: center;
    }
    
    .tipOfTheDay .readMore a, .faq .readMore a {
        color: $bodyColor;
        text-decoration: none;
    }
    
    .tipOfTheDay .readMore a:hover, .faq .readMore a:hover {color: $accent1Color;}

} //end of main


/*----------- FOOTER --------------*/
footer {
    background-color: $primaryColor;
    display: flex;
    justify-content: center;

    div.social a {
        font-size: 3rem;
        text-align: center;
        color: $bodyColor;
        padding: .5rem 1rem;
    }

    div.social a:hover {
        color: $accent1Color;
    }

}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}