

$headerFont:'EB Garamond', serif;

$bodyFont: 'Roboto', sans-serif;

$regularWeight: 400;
$heavyWeight: 700;


$gutter: 2vw;

/* Background colors */
$primaryColor: #e3e7eb;
$navColor: #6a8092;
$accent1Color: #506173;
$accent2Color: #16acdd;

/* Text colors */
$hftColor: #202c34; //header and footer text color
$bodyColor: #000;
