

$headerFont:'EB Garamond', serif;

$bodyFont: 'Roboto', sans-serif;

$regularWeight: 400;
$heavyWeight: 700;


$gutter: 2vw;

/* Background colors */
$primaryColor: #CFCFCF;
$navColor: #F3F3F4;
$accent1Color: #e4b343;
$accent2Color: #a4a99e;
$accent3Color: #323332;

/* Text colors */
$bodyColor: #242425;
