

$headerFont:'EB Garamond', serif;

$bodyFont: 'Roboto', sans-serif;

$regularWeight: 400;
$heavyWeight: 700;


$gutter: 2vw;

$primaryColor: #605D73;
$hftColor: #eee; //header and footer text color
$bodyColor: #000;
$navColor: #D9BBA9;
