header, nav, footer {
    max-width: 100%;
    margin:auto;
}

 #logo, header h1, header h2, nav ul, main {
    max-width: 75rem;
    margin:auto;
}
    
    

nav li {width:auto;}
nav a {padding: .5rem 1rem;}
    
main figure.images {
    width: 32%;
    }

