header, nav, footer {
    max-width: 100%;
    margin:auto;
}

 header #logo, header h1, header h2, nav ul, main {
    max-width: 75rem;
    margin: auto;
}

header #logo {
    padding-bottom: 2rem;
}


nav li {width:auto;}
nav a {padding: .5rem 1rem;}
    
main #content figure.images {
    width: 32%;
    }

