$primaryColor: #FEF5C5;
$navColor: #3098D9;
$accentColor: #07598C;


$headerFontFamily: 'Playfair Display', serif;

$bodyFontFamily: 'Open Sans', sans-serif;
$regularWeight: 400;
$heavyWeight: 600;

$gutter: 1rem;