$primaryColor: #9BBDD1;
$navColor: #518BAF;
$accentColor: #065585;


$headerFontFamily: 'Playfair Display', serif;

$bodyFontFamily: 'Open Sans', sans-serif;
$regularWeight: 400;
$heavyWeight: 600;

$gutter: 1rem;