


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
   nav { 
        button {display: none;}
       
        ul, ul.open {
            margin-right: $gutter;
            border: none;
            display: flex;
            justify-content: left;  
        } 
        ul li {width: auto;}
        
        ul li a{
            padding: .5rem 1rem;
            font-size: 1rem;
            border-left: 1px solid lighten($navColor, 20%);
        }
        
        ul li:last-child a {border-right: 1px solid lighten($navColor, 20%);}
       
}

/*----------- MAIN 
--------------*/



/*----------- FOOTER --------------*/
    
