


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
   
    nav ul li {width: auto;}
    nav ul li:first-child a {border-left: 1px solid lighten($navColor, 20%);}
    nav ul li:last-child a {border-right: 1px solid lighten($navColor, 20%);}
    nav ul li a{
        padding: .5rem 1rem;
        font-size: 1rem;
    
    }


/*----------- MAIN 
--------------*/



/*----------- FOOTER --------------*/
    
