/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: $bodyFont;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem $gutter;
    background-color: $primaryColor;

    h1 {
        margin: 0;
        color: $secondaryColor;
        font-size: 2rem;
        font-weight: $heavyWeight;
        }
        
    h2 {
        margin: 0; 
        color: $secondaryColor;
        font-size: 1.3rem;
        font-weight: $regularWeight;
        }

    figure.logo {
        float: left;
        margin: 0 $gutter;
        }
}//end of header

/*----------- NAVIGATION --------------*/
nav {
    background-color: $navColor;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        }
    ul li {
        float: left;
        width: 25%;
        }
    ul li a {
        display: block;
        background-color: darken($navColor, 20%);
        color: #eee;
        border-left: 1px solid lighten($navColor, 20%);
        padding: .5rem 0;
        text-decoration: none;
        font-size: .8rem;
        text-align: center;
        }
    ul li:first-child a {border-left: none;}

    ul li a:hover {
        background-color: lighten($navColor, 20%);
        color: #333;
        }
    ul li.active a {
        background-color: darken($navColor, 40%);
        color: #fff;
        }
}//end of nav

/*----------- MAIN --------------*/
main {
    min-height: 10rem;

    img {
    width: 100%;
    }
 
    picture.heroImage {
        display: block;
        width: 100%;
    }
    .mainContent {
        margin: 0 $gutter;
    }
    picture.founderImage {
        display: block;
        float: right;
        width: 48%;
        margin: 0 0 $gutter 2%;
    }
    p {
        line-height: 1.5rem;
    }

}//end of main



/*----------- FOOTER --------------*/
footer {
    background-color: $primaryColor;
    padding: .5rem 2%;
    color: $secondaryColor;
    font-size: .8rem;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}